@keyframes expand{
    from{
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    to{
        transform: scale(1)
    }
}

@keyframes shine {
    from{
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
    }
    50%{
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    }
    to{
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
    }
}